<!DOCTYPE HTML>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
<!-- CSS  -->
<link rel="Shortcut Icon" href="/static/favicon.ico" type="image/x-icon" />
<link href="/static/css/icon.css" rel="stylesheet">
<link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="/static/css/guacamole.css" />
<title>远程控制</title>
</head>

<body>
    <div id="loadPanel" style="width: 100%; text-align: center; padding-top: 100px;">
        <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div id="loadText" style="color: #9e9e9e;">正在努力连接中，请稍等片刻..</div>
    <div id="errorText" style="color: red;" class="hide">远程失败，请检查远程机器网络是否正常，如果有登录名称和密码请核对是否正确。</div>
    </div>
	<div id="display"></div>
	<script type="text/javascript" src="/static/js/guacamole.common.all.min.js"></script>
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/three/jquery-confirm/jquery-confirm.min.js"></script>
	<script src="/static/js/utils.js"></script>
	
	<script type="text/javascript">
	
	   var desktopObj = {
			   go: function(){
				   function getUrlParam(name) {
			            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			            var r = window.location.search.substr(1).match(reg);
			            if (r != null) return unescape(r[2]); return null;
			        }
			        
			        var display = document.getElementById("display");
			        var tunnel = new Guacamole.ChainedTunnel(new Guacamole.WebSocketTunnel('websocket-tunnel'));
			        var guac = new Guacamole.Client(tunnel);
			        display.appendChild(guac.getDisplay().getElement());

			        guac.connect("uuid=" + getUrlParam("uuid"));
			        guac.onstatechange = function(state){
                        if(state == "3"){
                        	$("#loadPanel").addClass("hide");
                        	return;
                        }
                        if(state == "5"){
                        	$("#errorText").removeClass("hide");
                            $("#loadText").addClass("hide");
                            alert("远程控制已断开");
                            return;
                        }
                    }
			        
			        guac.onfile = function(){
			        	console.log('file');
			        }
			        
			        guac.onfilesystem = function(){
                        console.log('onfilesystem');
                    }
			        
			        window.onunload = function() {
			            guac.disconnect();
			        }
			        
			        var mouse = new Guacamole.Mouse(guac.getDisplay().getElement());
			        mouse.onmousedown = mouse.onmouseup = mouse.onmousemove = function(mouseState) {
			            guac.sendMouseState(mouseState);
			        };

			        var keyboard = new Guacamole.Keyboard(document);
			        keyboard.onkeydown = function(keysym) {
			            guac.sendKeyEvent(1, keysym);
			        };

			        keyboard.onkeyup = function(keysym) {
			            guac.sendKeyEvent(0, keysym);
			        };
			        
			        display.addEventListener("dragenter", function(e){
			            e.stopPropagation();
			            e.preventDefault();
			        }, false);
			                    
			        display.addEventListener("dragover", function(e){
			            e.stopPropagation();
			            e.preventDefault();
			        }, false);
			                    
			        display.addEventListener("drop", function(e){
			            e.stopPropagation();
			            e.preventDefault();
			            var dt = e.dataTransfer;
			            var files = dt.files;
			            var file = files[0];
			            //guac.createFileStream(file.type, file.name);
			            ManagedClient.uploadFile(guac,file);
			        }, false);
			   }
	   }
	
	   $(function(){
		   $("#loadText").removeClass("hide");
		   $("#errorText").addClass("hide");
		   desktopObj.go();
	   });
	</script>

</body>
</html>
