<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">
.setting-page {
	padding-top: 10px;
}
</style>
</head>

<body>
	<div style="width: 100%; text-align: center; padding:50px;">
		<div>
		    <h6>百百-远程控制</h6>
		    <p>
		              基于web的远程控制，无任何插件。协议支持vnc，rdp，ssh。支持内外穿透、四层协议代理。
		    </p>
			<p>本产品开源免费使用，持续更新。使用过程如果有问题请到GitHub进行提交BUG。</p>
			<a target="_blank" href="https://github.com/baibaicloud/platform" style="color: #2196F3; cursor: pointer;">点击打开官方GitHub</a>
			<p>版本:V1.3.0</p>
		</div>
	</div>

	<!--  Scripts-->
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/materialize.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>

</html>